<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="#"
        routerLink="/home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Horários</ion-title>
    <ion-buttons slot="end">
      <ion-title color="primary"
        >{{ this.Date.formatarDataString(this.date!, 'dd/MM/yyyy') }}</ion-title
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-refresher></app-refresher>
  <ion-row class="section">
    <ion-col size="12">
      <ng-container
        *ngIf="!this.loading && this.horariosLivres.length"
      >
        <ng-container *ngFor="let horaLivre of this.horariosLivresPagina!">
          <app-linha-horario
            [horas]="horaLivre"
            (click)="this.horario = horaLivre; this.setOpen(true)"
          ></app-linha-horario>
        </ng-container>
          <app-modal-agendar
            [isModalOpen]="this.isModalOpen"
            [dataAgendamento]="this.date!"
            [horario]="this.horario!"
            (fechar)="this.setOpen(false)"
          ></app-modal-agendar>
      </ng-container>
      <ng-container *ngIf="!this.loading && !this.horariosLivres.length">
        <ion-text color="primary" class="ion-text-center">
          <h2>Não há horários livres...</h2>
        </ion-text>
      </ng-container>
      <ion-infinite-scroll
        (ionInfinite)="onIonInfinite($event)"
        [disabled]="this.horarioAtual >= this.horariosLivres!.length"
      >
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <app-loading [condicao]="this.loading"></app-loading>
    </ion-col>
  </ion-row>
</ion-content>
