<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="#"
        routerLink="/home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Horários</ion-title>
    <ion-buttons slot="end">
      <ion-title color="primary"
        >{{ this.Date.formatarDataString(date!, 'dd/MM/yyyy') }}</ion-title
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="section">
    <ion-col size="12">
      <ng-container *ngIf="restricoes && agendamentos">
        <ng-container *ngFor="let horaLivre of horariosLivresPagina!">
          <app-linha-horario
            [horas]="horaLivre"
            (click)="this.horario = horaLivre; setOpen(true)"
          ></app-linha-horario>
        </ng-container>
        <app-modal-agendar
          [isModalOpen]="isModalOpen"
          [dataAgendamento]="date!"
          [horario]="horario!"
          (fechar)="setOpen(false)"
        ></app-modal-agendar>
      </ng-container>
      <ion-infinite-scroll
        (ionInfinite)="onIonInfinite($event)"
        [disabled]="horarioAtual >= horariosLivres!.length"
      >
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <app-loading [condicao]="!(horariosLivres.length)"></app-loading>
    </ion-col>
  </ion-row>
</ion-content>
