<ion-content [fullscreen]="true">
  <ion-row class="main ion-justify-content-center ion-align-items-center">
    <ion-col size="12">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="8" sizeMd="6" sizeLg="4">
          <ion-img
            src="../../../assets/images/calendarioNotFound.svg"
            alt="404 ERROR"
            ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="ion-text-center">
            <h1 >Oops! :(</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
