<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="#"
        routerLink="/home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Agendamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="section">
    <ion-col size="12">
      <ng-container *ngIf="agendamentosRealizados">
        <ng-container *ngFor="let agendamento of agendamentosRealizados">
          <app-linha-agendamento
            [agendamento]="agendamento"
            (click)="clicarAgendamento(agendamento)"
          ></app-linha-agendamento>
        </ng-container>
        <app-modal-horario
          [agendamento]="agendamentoSelecionado!"
          [isModalOpen]="isModalOpen"
          (fechar)="setOpen(false)"
        ></app-modal-horario>
      </ng-container>
      <app-loading [condicao]="!agendamentosRealizados"></app-loading>
    </ion-col>
  </ion-row>
</ion-content>
