<ion-modal backdropDismiss="false" [isOpen]="this.isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Alterar informações</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="this.fechar.emit('fechar')">
            <ion-icon name="close-outline" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row id="wrapper__modal" class="ion-align-items-center">
        <ion-col size="12" *ngIf="this.informacaoSelecionada! === 'Nome'">
          <ion-input
            [(ngModel)]="this.infosUser.NOME_USER"
            required
            fill="outline"
            clearInput="true"
            label="Nome"
            label-placement="floating"
            type="text"
          ></ion-input>
        </ion-col>
        <ion-col size="12" *ngIf="this.informacaoSelecionada! === 'Telefone'">
          <ion-input
            [(ngModel)]="this.infosUser.TEL_USER"
            required
            fill="outline"
            pattern="^[1-9]{2}9?[0-9]{8}$"
            maxlength="11"
            clearInput="true"
            label="Telefone"
            autocomplete="tel"
            label-placement="floating"
            type="tel"
          ></ion-input>
        </ion-col>
        <ion-col size="12" *ngIf="this.informacaoSelecionada! === 'Email'">
          <ion-input
            [(ngModel)]="this.infosUser.EMAIL_USER"
            required
            email
            fill="outline"
            clearInput="true"
            label="Email"
            autocomplete="email"
            label-placement="floating"
            type="email"
          ></ion-input>
        </ion-col>
        <ion-col size="12" *ngIf="this.informacaoSelecionada! === 'Senha'">
          <ion-row>
            <ion-col size="12">
              <ion-input
                [(ngModel)]="this.infosUser.SENHA_USER"
                name="SENHA_USER"
                label="Senha antiga"
                label-placement="floating"
                fill="outline"
                type="password"
                minlength="8"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-input
                [(ngModel)]="this.infosUser.NOVA_SENHA_USER"
                name="NOVA_SENHA_USER"
                label="Senha nova"
                label-placement="floating"
                fill="outline"
                type="password"
                minlength="8"
              ></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="auto">
          <ion-button id="alterar" size="default" type="submit">
            ALTERAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>
