<ion-header translucent="true">
  <ion-toolbar>
    <ion-img routerLink="/" id="logo" src="../../../assets/images/logo.png" alt="Agendar.Me"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-align-items-center ion-justify-content-center section">
    <div id="wrapper_login">
      <ion-text class="ion-text-center">
        <h1>
          Crie sua conta!
        </h1>
      </ion-text>
      <form #cadastrarForm="ngForm">
        <ion-input ngModel required clearInput="true" name="nome" label="Nome" label-placement="floating" fill="outline" type="text"></ion-input>
        <ion-input ngModel required pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="12"clearInput="true" name="telefone" label="Telefone" autocomplete="tel" label-placement="floating" fill="outline" type="tel"></ion-input>
        <ion-input ngModel required email clearInput="true" name="email" label="Email" autocomplete="email" label-placement="floating" fill="outline" type="email"></ion-input>
        <ion-input ngModel required name="senha" label="Senha" label-placement="floating" fill="outline" type="password"></ion-input>
        <ion-input ngModel required name="senhaConfirmar" label="Confirmar Senha" label-placement="floating" fill="outline" type="password"></ion-input>
        <ion-button id="cadastrar" type="submit" [disabled]="!cadastrarForm.valid">
          Cadastre-se
        </ion-button>
      </form>
      <ion-text color="primary" class="ion-text-center">
        <p>
          <b>Já tem uma conta? </b>
          <a routerLink="/login">Entre aqui!</a>
        </p>
      </ion-text>
    </div>
  </ion-row>
  <ion-toast
    class="error-toast"
    message="As senhas não conferem"
    [duration]="5000"
  ></ion-toast>
  <ion-toast
    class="success-toast"
    trigger="cadastrar"
    message="Cadastro realizado com sucesso!"
    [duration]="5000"
  ></ion-toast>
</ion-content>