<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/agendamentos">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/notificacoes">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-button id="click-trigger"><ion-icon name="person-outline"></ion-icon></ion-button>
        <ion-popover trigger="click-trigger" triggerAction="click" [dismissOnSelect]="true">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-tab-button routerLink="/configuracoes">
                <ion-icon name="cog-outline"></ion-icon>
                <ion-label>Configurações</ion-label>
              </ion-tab-button>
              <ion-tab-button (click)="user.logout()">
                <ion-icon name="log-out-outline"></ion-icon>
                <ion-label>Sair</ion-label>
              </ion-tab-button>
            </ion-content>
          </ng-template>
        </ion-popover>        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class="section ion-justify-content-center">
    <ion-col>
      <ion-row id="slide">
        <ion-col size="12">
          <app-carrossel
            [images]="[
              'https://images.unsplash.com/photo-1554147090-e1221a04a025?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=848&q=80',
              'https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8d2FsbHBhcGVyfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60',
              'https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdhbGxwYXBlcnxlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60'
            ]"
          ></app-carrossel>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-datetime
            id="calendario"
            mode="md"
            min="{{ date.getISOTodayDate() }}"
            presentation="date"
            locale="pt-BR"
          ></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
