<ion-modal backdropDismiss="false" [isOpen]="this.isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Datas especiais</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="this.fechar.emit('fechar')">
            <ion-icon name="close-outline" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-datetime
            id="calendario"
            mode="md"
            [min]="this.Date.getISOTodayDate()"
            [max]="this.Date.getUltimaDataAgendamento()"
            presentation="date"
            locale="pt-BR"
            [highlightedDates]="this.highlightedDates"
            (ionChange)="selecionarData($event)"
          ></ion-datetime>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-button
                [disabled]="
                  this.dataSelecionada === undefined ||
                  this.datasEspeciais?.includes(this.dataSelecionada)
                "
                (click)="this.adicionarDataEspecial()"
                class="adicionar__btn"
                >Adicionar</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="this.datasEspeciais !== undefined">
        <ion-list>
          <h4 *ngIf="this.datasEspeciais.length">Datas Especiais</h4>
          <ion-item *ngFor="let dataEspecial of this.datasEspeciais">
            <ion-toolbar>
              <p>
                {{ this.Date.formatarDataString(dataEspecial, "dd/MM/yyyy") }}
              </p>
              <ion-buttons slot="end">
                <ion-button (click)="this.removerDataEspecial(dataEspecial)">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-item>
        </ion-list>
        <ng-container *ngIf="this.datasEspeciais!.length === 0">
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-text color="primary">
                <h3>Não há datas especiais</h3>
              </ion-text>
            </ion-col>
          </ion-row>
        </ng-container>
      </ng-container>
      <app-loading [condicao]="this.datasEspeciais === undefined"></app-loading>
    </ion-content>
  </ng-template>
</ion-modal>
