<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="#"
        routerLink="/home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configurações</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12" sizeMd="11" sizeLg="10">
      <ng-container>
        <ion-item
          (click)="this.isModalRestricoesSemanaisOpen = true"
          mode="ios"
          button
        >
          <ion-label class="ion-padding">Restrições semanais</ion-label>
        </ion-item>
        <ion-item
          (click)="this.isModalRestricoesDataOpen = true"
          mode="ios"
          button
        >
          <ion-label class="ion-padding">Restrições de datas</ion-label>
        </ion-item>
        <ion-item
          (click)="this.isModalRestricoesHorariosOpen = true"
          mode="ios"
          button
        >
          <ion-label class="ion-padding">Restrições de horários</ion-label>
        </ion-item>
        <ion-item
          (click)="this.isModalDatasEspeciaisOpen = true"
          mode="ios"
          button
        >
          <ion-label class="ion-padding">Datas especiais</ion-label>
        </ion-item>
        <app-modal-datas-especiais
          [isModalOpen]="this.isModalDatasEspeciaisOpen"
          (fechar)="this.isModalDatasEspeciaisOpen = false"
        ></app-modal-datas-especiais>
        <app-modal-restricoes-datas
          [isModalOpen]="this.isModalRestricoesDataOpen"
          (fechar)="this.isModalRestricoesDataOpen = false"
        ></app-modal-restricoes-datas>
        <app-modal-restricoes-semanais
          [isModalOpen]="this.isModalRestricoesSemanaisOpen"
          (fechar)="this.isModalRestricoesSemanaisOpen = false"
        ></app-modal-restricoes-semanais>
        <app-modal-restricoes-horarios
          [isModalOpen]="this.isModalRestricoesHorariosOpen"
          (fechar)="this.isModalRestricoesHorariosOpen = false"
        ></app-modal-restricoes-horarios>
      </ng-container>
    </ion-col>
  </ion-row>
  <app-refresher></app-refresher>
</ion-content>
