<ion-modal backdropDismiss="false" [isOpen]="this.isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Agendamento</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="this.fechar.emit('fechar')">
            <ion-icon name="close-outline" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list
        *ngIf="
          this.agendamento !== undefined &&
          this.agendamento!.SERVICOS !== undefined
        "
      >
        <ion-item>
          <ion-text>
            <h3>Data:</h3>
            <p>
              {{
                this.Date.formatarDataString(
                  this.agendamento!.DATA_AGENDAMENTO,
                  "dd/MM/yyyy"
                )
              }}
            </p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text>
            <h3>Horário:</h3>
            <p>Ás {{ this.agendamento!.HORARIO_AGENDAMENTO.slice(0, 5) }}</p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text>
            <h3>Cliente:</h3>
            <p>{{ this.agendamento!.NOME_USER }}</p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text>
            <h3>Telefone:</h3>
            <a
              class="modal__tel"
              href="https://wa.me/55{{ this.agendamento!.TEL_USER }}"
              target="_blank"
              ><h4>
                +55 {{ this.agendamento!.TEL_USER }}
              </h4>
            </a>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text>
            <h3>Serviços</h3>
            <ion-row
              class="ion-align-items-center"
              *ngFor="let servico of this.agendamento?.SERVICOS"
            >
              <ion-col size="auto">
                <ion-text>
                  <p>{{ servico.NOME_SERVICO }}:</p>
                </ion-text>
              </ion-col>
              <ion-col size="auto">
                <ion-text color="primary">
                  <p class="preco">R$ {{ servico.PRECO_SERVICO }}</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-text>
        </ion-item>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="auto">
            <ion-button
              class="modal__btn ion-margin"
              id="lembrar"
              (click)="this.lembrarCliente()"
            >
              Lembrar Cliente
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button
              class="modal__btn ion-margin"
              id="cancelar"
              fill="outline"
            >
              Cancelar
            </ion-button>
            <ion-alert
              mode="md"
              trigger="cancelar"
              header="Alerta!"
              subHeader="Você tem certeza que cancelar a reserva?"
              [buttons]="this.alertButtons"
            ></ion-alert>
          </ion-col>
        </ion-row>
      </ion-list>
      <app-loading
        [condicao]="this.agendamento?.SERVICOS === undefined"
      ></app-loading>
    </ion-content>
  </ng-template>
</ion-modal>
