<ion-header translucent="true">
  <ion-toolbar>
    <ion-img routerLink="/" id="logo" src="../../../assets/images/logo.png" alt="Agendar.Me"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-align-items-center ion-justify-content-center section">
    <div id="wrapper_login">
      <ion-text class="ion-text-center">
        <h1>
          Entre agora!
        </h1>
      </ion-text>
      <form #loginForm="ngForm">
        <ion-input ngModel required pattern="^[1-9]{2}9?[0-9]{8}$" maxlength="11"clearInput="true" name="telefone" label="Telefone" autocomplete="tel" label-placement="floating" fill="outline" type="tel"></ion-input>
        <ion-input ngModel required email clearInput="true" name="email" label="Email" autocomplete="email" label-placement="floating" fill="outline" type="email"></ion-input>
        <ion-input ngModel required name="senha" label="Senha" label-placement="floating" fill="outline" type="password"></ion-input>
        <ion-button id="entrar" type="submit" [disabled]="!loginForm.valid">
          Entrar
        </ion-button>
      </form>
      <ion-text color="primary" class="ion-text-center">
        <p>
          <b>Sem uma conta? </b>
          <a routerLink="/cadastrar">Crie uma agora!</a>
        </p>
      </ion-text>
    </div>
  </ion-row>
</ion-content>