<ion-row class="linha-agendamento ion-align-items-center">
  <ion-col class="linha-agendamento__horas ion-padding" size="auto">
    <ion-text>
      <ion-label>{{ horario }}</ion-label>
    </ion-text>
  </ion-col>
  <ion-col>
    <ion-row class="ion-align-items-center ion-justify-content-end">
      <ion-col size="auto">
        <ion-button fill="clear">
          <ion-icon size="large" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
