#login,
ion-buttons {
  margin-right: 20px;
}

#logo {
  width: min(175px, 90%);
}

.main {
  background-image: url("../../../assets/images/blob.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  height: calc(100vh - 68px);
  min-height: 580px;

  ion-label {
    font-size: 3.5rem;
    font-weight: bolder;
  }

  p {
    width: 75%;
    min-width: 200px;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .btn_comecar {
    width: 150px;
    height: 50px;
    margin-top: 5vh;
  }
}

@media (max-width: 576px) {
  .main {
    ion-label {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
