<ion-content>
  <ion-header collapse="fade">
    <ion-toolbar>
      <ion-title>
        <ion-img
          id="logo"
          src="../../../assets/images/logo.png"
          alt="AGENDAR.ME"
        ></ion-img>
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button
          [routerLink]="['/login']"
          fill="outline"
          color="secondary"
          id="login"
        >
          Entrar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-row class="main ion-align-items-center">
    <ion-col>
      <ion-row>
        <ion-col offset="1" size="8" size-md="6" size-lg="5">
          <ion-text color="primary">
            <ion-label>Torne mais agradável a sua rotina de trabalho</ion-label>
          </ion-text>
          <ion-text color="secondary">
            <p>
              Agendar.me é uma solução <u>rápida e fácil de usar.</u> que ajuda
              na sua organização de trabalho e empresas.
            </p>
          </ion-text>
          <ion-button [routerLink]="['/cadastrar']" class="btn_comecar">
            Começar <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
