.restrito {
  opacity: 0.8;
  background: repeating-linear-gradient( 45deg, var(--ion-color-secondary), var(--ion-color-secondary) 3px, transparent 3px, transparent 53px);
}

.linha-horario {
  height: 75px;
  width: 100%;
  transition: all .3s ease;
  border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  cursor: pointer;

  &:hover {
    background-color:  var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
  &__horas {
    border-right: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
}