<ion-row
  [class.restrito]="this.horario.restrito"
  class="linha-horario ion-align-items-center"
>
  <ion-col class="linha-horario__horas ion-padding" size="auto">
    <ion-text>
      <ion-label>{{ this.horario.horas }}</ion-label>
    </ion-text>
  </ion-col>
  <ion-col>
    <ion-row class="ion-align-items-center ion-justify-content-end">
      <ion-col size="auto">
        <ion-button fill="clear">
          <ion-icon
            *ngIf="!this.horario.restrito"
            size="large"
            color="primary"
            name="lock-open"
          ></ion-icon>
          <ion-icon
            *ngIf="this.horario.restrito"
            size="large"
            color="primary"
            name="lock-closed"
          ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
